@model IEnumerable<ViewAppointments_Result>
@{
	ViewBag.Title = "ShowAppointmentsList";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
	$(document).ready(function () {

	});

	function Popup(str) {		
		$('.modal-body').html(str);
		$('#uploadForm').modal();
	}
</script>
<h2>ShowAppointmentsList</h2>

<table class="table">
	<tr>
		<th>
			Name		
		</th>
		<th>
			Date Of Appointment
		</th>
		<th>
			Create Date
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td class="col">
				<button id="btnPopup" class="btn btn-default" onclick="Popup(this.value)" value="Name: @item.Name <br/>DateOfAppointment:  @item.DateOfAppointment<br/> CreateDate: @item.CreateDate‏">@item.Name</button>
			</td>
			<td class="col">
				@item.DateOfAppointment
			</td>
			<td class="col">
				@item.CreateDate‏
			</td>
		</tr>
	}

</table>



<div id="uploadForm" class="modal fade">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button><br/>
			</div>
			<div class="modal-body" id="fa">
			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default switch-direction" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>