
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
	$(document).ready(function () {

	});

	function Popup(str) {
		$('.modal-body').html(str);
		$('#uploadForm').modal();
	}
</script>

<h2>Appointments</h2>

@using (Html.BeginForm())
{
	<div class="form-inline">

		@Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Find by name:" })
				
		<input type="submit" value="Search" class="btn btn-default" />
		<br /><br />
	</div>
}
<table class="table">
	<tr>
		<th>
			@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
			<span class="sort-icon"></span>
		</th>
		<th>
			@Html.ActionLink("DateOfAppointment", "Index", new { sortOrder = ViewBag.DateSortParm })

		</th>
		<th>
			@Html.ActionLink("CreateDate", "Index", new { sortOrder = ViewBag.DateSortParm })
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td class="col">
				<button id="btnPopup" class="btn btn-default" onclick="Popup(this.value)" value="Name: @item.Name <br/>DateOfAppointment:  @item.DateOfAppointment<br/> CreateDate: @item.CreateDate‏">@item.Name</button>
			</td>
			<td class="col">
				@Convert.ToDateTime(@item.DateOfAppointment).ToString("dd/MM/yyyy HH:mm")

			</td>
			<td class="col">
				@Convert.ToDateTime(@item.CreateDate).ToString("dd/MM/yyyy HH:mm")

			</td>
		</tr>
	}

</table>



<div id="uploadForm" class="modal fade">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button><br />
			</div>
			<div class="modal-body" id="fa">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default switch-direction" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

